<div class="front-cover">
<div class="hero-text-box">
            <h1>A good idea can make all the difference.</h1>
            <h4>  Drive improvements of Healthcare by crowdsourcing ideas.</h4>
        </div>
    
    </div>
<section class="section-intro">
    <div class="row">
        <h2>BETTER HEALTHCARE MATTERS</h2>
        <p class="long-copy">We care deeply about those fighting disease having the best possible conditions to survive and live a life free from suffering. To improve healthcare there needs to be efficient ways for how to drive improvements. We believe that the key to successful improvements in healthcare is empowering the patients and healthcare staff to drive the change. We believe that the most important information for the improvement efforts of healthcare is ideas about how to do it. Brainhubs ambition is to be the best craftsmen of digital tools that crowdsource ideas, empower stakeholders and simplify modern management.</p>
    </div>
</section>
<section class="section-flow">
    <div class="row">
        <div class="col span-1-of-3 content">
            <h3>ENGAGE</h3>
            <br/><p><em>People</em></p></div>
        <div class="col span-1-of-3 content">
            <h3>CROWDSOURCE</h3>
            <br/><p><em>Ideas</em> </p></div>
        <div class="col span-1-of-3 content">
            <h3>IMPROVE</h3>
            <br/><p><em>Healthcare</em></p></div>
    </div>
    <div class="row">
        <div class="col span-1-of-3"> <img src="{% asset_path engagerowd2 %}" alt="Engage People" class="picture-flow" /> </div>
        <div class="col span-1-of-3"> <img src="{% asset_path crowdsource-cloud %}" alt="Health care Ideas" class="picture-flow" /> </div>
        <div class="col span-1-of-3"> <img src="{% asset_path improvehealthcare2fall2016 %}" alt="Improve HealthCare" class="picture-flow" /> </div>
    </div>
</section>

<%= link_to 'Services', services_path %>