<div class="about-cover">
</div>
<section class="section-about">
    <div class="row">
            <h2>BETTER HEALTHCARE MATTERS</h2>
            <p class="long-copy">Every person in need of healthcare deserves great healthcare. Our ambition is to build tools that drive improvements of healthcare and by doing that save peoples lives. We go in with all our heart in our work. Brainhubs is a swedish startup that was founded on the belief that the key to improve anything is ideas about how to do it. We all had our lives majorly affected by diseases in our families and now we want to make a difference for those in need of better healthcare. We combine our passion for better healthcare with modern management research and the opportunities that come with software.</p>
        <br/>
            <p class="long-copy">We pledge allegiance to those fighting against disease. We see ourselves as soldiers enlisted in the war for better healthcare and have set out on a journey to improve healthcare around the world. Our role in the war for better healthcare is as the weaponsmiths crafting tools that empower patients and healthcare staff to be the drivers of change. We will never give up the fight for better healthcare.</p>
        </div>
</section>

<%= link_to 'Home', root_path %>